<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <main class="mx-5">
                <h3>Add a review about <strong>{{dealer.full_name}}</strong></h3>
                <form action="{% url 'djangoapp:add_review' dealer.id %}" method="POST">
                    <div class="mb-3">
                      <label for="review" class="form-label">Enter the review content:</label>
                      <input type="textarea" name="review" class="form-control" id="review" placeholder="Enter your opinion" >
                    </div>
                    <div class="mb-3 form-check">
                        <input name="purchase" type="checkbox" class="form-check-input" id="purchase">
                        <label class="form-check-label" for="purchase">Has purchased the car from {{dealer.full_name}}? <span class="text-secondary">(select purchased car information below if checked)</span></label>
                      </div>
                    <div class="mb-3">
                        <label class="form-label" for="car">Select your car (model-make-year):</label>
                        <select name="car" id="car" class="form-select" required>
                            {% for car in cars %}
                                <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                            {% endfor %}
                       </select>
                    </div>
                    <div class="mb-3">
                        <label for="purchasedate" class="form-label">Select Your Purchase Date:</label>
                        <input type="text" name="purchasedate" class="date-own form-control" id="purchasedate" >
                    </div>   
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
        </main>
    </body>
    <script>
        $('.date-own').datepicker({
         format: 'mm/dd/yyyy'
       });
    </script>    
</html>