<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <form class="mx-3" action="{% url 'djangoapp:registration' %}" method="post">
            <div class=" border-bottom p-2 mb-2">
                <h1>Sign Up<h1>
            </div>
            <div class="mb-3">
              <label for="username-input" class="form-label">Username</label>
              <input name="username" type="text" class="form-control" id="username-input" placeholder="Enter User Name" >
            </div>
            <div class="mb-3">
                <label for="firsname-input" class="form-label">First Name</label>
                <input name="firstname" type="text" class="form-control" id="firstname-input" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
                <label for="lastname-input" class="form-label">Last Name</label>
                <input name="lastname" type="text" class="form-control" id="lastname-input" placeholder="Enter Last Name">
              </div>
            <div class="mb-3">
              <label for="password-input" class="form-label">Password</label>
              <input name="psw" type="password" class="form-control" id="password-input" placeholder="Enter Password Name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>